.mainTable {
  background-color: #111111;
}

.mainTable td {
  font-family: "Minecart LCD Regular";
  color: gold;
  font-size: 36px;
  padding: 0 0.5em;
  font-weight: normal;
  white-space: nowrap;
  overflow: ellipsis;
}

.mainTable th {
  font-family: "British Rail";
  color: white;
  padding: 0.2em 0.5em;
  background-color: black;
  font-size: 36px;
}

.station {
  font-family: "British Rail";
  font-size: 36px;
  font-weight: normal;
}
