@font-face {
  font-family: "Minecart LCD Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Minecart LCD Regular"), url("./minecart-lcd.woff") format("woff");
}

@font-face {
  font-family: "British Rail";
  src: url("./britrail.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --body-font-size: 18px;
  --display-font-size: 24px;
  --title-font-size: 64px;
  --rail-red: #f24815;
  --table-font: "Minecart LCD Regular";
  --primary-font: "British Rail";
}

body {
  background-color: rgb(58, 38, 38);
}

@media only screen and (max-width: 1100px) {
  :root {
    --title-font-size: 48px;
  }
}

@media only screen and (max-width: 750px) {
  :root {
    --title-font-size: 36px;
  }
}

@media only screen and (max-width: 640px) {
  :root {
    --title-font-size: 28px;
    --display-font-size: 18px;
    --body-font-size: 14px;
  }
}

@media only screen and (max-width: 450px) {
  :root {
    --title-font-size: 24px;
    --display-font-size: 14px;
    --body-font-size: 12px;
  }
}
