.layout {
  display: grid;
  place-items: center;
}

.visuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.footer {
  padding-top: 2em;
  font-family: var(--primary-font);
  font-size: var(--body-font-size);
  align-self: flex-end;
  color: #999999;
}

.footer a:link span {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.footer a:link,
.footer a:visited {
  color: inherit;
  transition: color 200ms;
}

.footer a:hover {
  color: white;
}
