.wrapper {
  margin: 0.5em auto;
  display: inline-flex;
  flex-direction: row;
  font-family: var(--primary-font);
  font-size: var(--title-font-size);
  background-color: rgb(230, 230, 230);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  max-width: calc(100vw - 2em);
  width: 15em;
}

.wrapper div {
  border: none;
  font-family: var(--primary-font);
  font-size: var(--title-font-size);
  background-color: rgb(230, 230, 230);
  flex: 1;
  text-align: center;
  padding-top: 0.25em;
  width: 11.5em;
  line-height: 0.8;
}

.homeLink {
  display: block;
  background-color: var(--rail-red);
  color: white;
  text-decoration: none;
}

.homeLink::before {
  line-height: 1.25;
  font-family: var(--primary-font);
  content: "=";
}
