.wrapper {
  margin: 0.5em auto;
  display: inline-flex;
  flex-direction: row;
  font-family: "British Rail";
  font-size: var(--title-font-size);
  background-color: rgb(230, 230, 230);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  max-width: calc(100vw - 2em);
  width: 15em;
}

.homeLink {
  display: block;
  background-color: var(--rail-red);
  color: white;
  text-decoration: none;
}

.homeLink::before {
  line-height: 1.25;
  font-family: "British Rail";
  content: "=";
}
